* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 100;
}

button {
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-bottom: solid 1px rgb(239, 239, 239);
}

nav div#title {
  position: absolute;
  color: red;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav ul li a {
  margin: 0 12px;
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 100;
}

nav ul li a#title {
  position: absolute;
  text-decoration: none;
  top: 18px;
  left: 20px;
  font-size: 36px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

nav ul li a#cart {
  position: absolute;
  top: 22px;
  right: 30px;
}

nav ul li a#cart img {
  height: 36px;
}

.home {
  height: 200vh;
  width: 100vw;
}

.home .banner {
  display: flex;
  width: 100%;
}

.banner img {
  width: 50vw;
  height: 35vw;
  object-fit: cover;
}

.about {
  display: flex;
  justify-content: center;
}

.about .about-container {
  margin-top: 50px;
  width: 600px;
  text-align: center;
}

.about .about-title {
  font-weight: 300;
  font-size: 24px;
  margin: 10px;
}

.shop-container {
  height: 200vh;
  width: 100vw;
  display: flex;
}

.shop-container .shop-nav-container {
  min-width: 260px;
  margin-top: 100px;
}

.shop-container .shop-nav-container li {
  margin: 10px 50px;
  list-style-type: none;
}

.shop-container .shop-container-right {
  width: 100%;
}

.shop-container .shop-container-right .shop-container-right-banner img {
  width: 33%;
  height: 160px;
  object-fit: cover;
}

.shop-container .shop-container-right .products-container-title {
  font-size: 24px;
  margin: 30px 0px;
  border-bottom: solid 1px rgb(239, 239, 239);
}

.shop-container .shop-container-right .products-container {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  column-gap: 35px;
  row-gap: 35px;
  justify-content: center;
  align-items: center;
  height: 10px;
}

.shop-container .shop-container-right .products-container .product-container {
  height: 350px;
}

.shop-container
  .shop-container-right
  .products-container
  .product-container
  .product-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.shop-container
  .shop-container-right
  .products-container
  .product-container
  .product-caption {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.shop-container
  .shop-container-right
  .products-container
  .product-container
  .product-caption
  .product-name {
  font-size: 14px;
  font-weight: 500;
}

.shop-container
  .shop-container-right
  .products-container
  .product-container
  .product-caption
  a {
  color: black;
  text-decoration: none;
}

.shop-container
  .shop-container-right
  .products-container
  .product-container
  .product-caption
  .product-price {
  color: rgb(117, 117, 117);
}

.product-page .container {
  display: flex;
  justify-content: center;
}

.product-page .container .left-container {
  width: 50vw;
}

.product-page .container .left-container .image-container img {
  margin-left: 10vw;
  width: 80%;
}

.product-page .container .right-container {
  width: 50vw;
  text-align: center;
}

.product-page .container .right-container .product-name {
  margin-top: 20vh;
  font-size: 24px;
}

.product-page .container .right-container .product-price {
  margin-top: 20px;
}

.product-page .container .right-container .add-button-container {
  margin-top: 40px;
}

.product-page .container .right-container .add-button {
  color: white;
  background-color: black;
  padding: 15px 80px;
  text-decoration: none;
}

.product-page .container .right-container .quantity-outer-container {
  margin: 50px;
  display: flex;
  justify-content: center;
}

.product-page .container .right-container .quantity-inner-container {
  display: flex;
  border: solid 1px black;
}

.product-page .container .right-container .quantity-outer-container #minus,
.product-page .container .right-container .quantity-outer-container #plus,
.product-page
  .container
  .right-container
  .quantity-outer-container
  #quantity-input {
  width: 24px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-page
  .container
  .right-container
  .quantity-outer-container
  #quantity-input {
  background-color: black;
  color: white;
  font-size: 12px;
}

.product-page .container .right-container .quantity-outer-container #minus,
.product-page .container .right-container .quantity-outer-container #plus {
  background-color: white;
  outline: none;
}
